* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(./bg-intro-desktop.png);
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 100%, 74%);
}

.flex {
    display: flex;
    flex-direction: row;
}

.form {
    height: 350px;
    width: 400px;
    background-color: #fff;
    border-radius: .5rem;
    margin: auto;
    padding: 2rem;
}

.form input[type="text"],
input[type="email"],
input[type="password"] {
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
    padding: .5rem;
}

.form input[type="submit"] {
    width: 370px;
    height: 40px;
    margin-top: .5rem;
    border-radius: .2rem;
    color: #fff;
    font-weight: 600;
    border-color: hsl(154, 59%, 51%);
    background-color: hsl(154, 59%, 51%);
}

.sign-up button {
    background-color: hsl(248, 32%, 49%);
    border-color: hsl(248, 32%, 49%);
    padding: 10px;
    width: 460px;
    border-radius: .5rem;
    margin-bottom: .5rem;
    color: #fff;
}
.sign-up{
    width: 370px;
    margin: 4rem;
}
.form p {
    font-size: 10px;
    text-align: center;
}
.form a {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    text-decoration: none;
}

.text {
    margin-top: 10rem;
    margin-left: 7rem;
    width: 28rem;
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    margin-right: 7rem;
}

.text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 1250px) {
    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text{
        margin-left: 12rem;
        margin-top: 5rem;
    }
}
@media (max-width:900px){
    body{
        margin-left: 1rem;
    }
}
@media (max-width: 580px){
    body{
        background-image: url(./bg-intro-mobile.png);
        margin-left: 1rem;
    }
    .flex{
        width: 370px;
    }
}